@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #D4CDC4;
  font-family: 'Poppins', sans-serif;
}

.diverror{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 500px;
  flex-direction: column;
  text-align: center;
}
.imgerror{
  position: absolute;
  background-image: url(../assets/image-durmiendo.png);
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 10%;
}
.btnerror{
  border-radius: 10px;
  padding: 12px;
  margin: auto 15px;
  font-size: 18px;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  background-color: #F2B872;
  cursor: pointer;
}
.infoerror{
  margin: 150px 10px 0px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.messageerror{
  font-size: 36px;
  color: #80A6A2;
}
@media(max-width: 600px) {
  .btnerror{
    border-radius: 10px;
    padding: 12px;
    margin: 15px 15px;
    font-size: 18px;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    background-color: #F2B872;
  }
  .infoerror{
    margin: 150px 10px 0px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .messageerror{
    font-size: 36px;
    color: #80A6A2;
  }
}