@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D4CDC4;
  font-family: 'Poppins';
}

@media(max-width: 480px) {
  .homediv{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .imghome{
    position: absolute;
    background-image: url(../assets/image-food.png);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
    left: 20%;
  }

  .buttondiv{
    margin: 250px 10px 0px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .buttonemail, .buttongoogle,
  .buttontwitter, .buttongithub{
    border-radius: 10px;
    padding: 12px;
    margin: 8px 0px 0px 0px;
    font-size: 18px;
    border-style: none;
    font-family: 'Poppins';
  }

  
  .buttonemail:hover, .buttongoogle:hover,
  .buttontwitter:hover, .buttongithub:hover{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .buttonemail{
  background-color: #F2B872;
  }

  .iconemail{
    position: absolute;
    top: 8%;
    left: 8%;
    background-image: url(../assets/icon_email.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .icongoogle{
    position: absolute;
    top: 32%;
    left: 8%;
    background-image: url(../assets/icon_google.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .icontwitter{
    position: absolute;
    top: 58%;
    left: 8%;
    background-image: url(../assets/icon_twitter.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .icongithub{
    position: absolute;
    top: 82%;
    left: 8%;
    background-image: url(../assets/icon_github.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .messagehome{
    position: absolute;
    top: 40%;
    left: 6%;
    font-size: 25px;
  }

  .mensajeregister{
    width: 200px;
    margin: 10px auto 10px;
    text-align:center;
  }
  /*Register*/
  .registerDiv{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .imgRegister{
    position: absolute;
    background-image: url(../assets/image-food.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    top: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .menssageRegisterRouter{
    top: 260px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    position: absolute;
  }
  .infoRegister{
    top: 310px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    
  }
  
  .emailRegister, .passwordRegister, .checkPasswordRegister {
    position: relative;
    margin: 8px 0px 0px 8px;
    border-radius: 10px;
    padding: 12px 0px 12px 60px;
    font-size: 18px;
    font-family: 'Poppins';
    border-style: none;
    width: 90%;
    
  }
  .buttonSaveInformation{
    position: absolute;
    margin: 7px 0px 0px 8px;
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    font-family: 'Poppins';   
    border-style: none;
    top: 490px;
    background-color: #F2B872;
    width: 82.5%;
  }
  .iconEmail1, .iconPassword {
    position: absolute;
    display: flex;  
  }
  .emailRegister{
    background-image:url(../assets/icon_email.png);
    background-repeat: no-repeat;
    background-position: 20px center;    
  }
  .passwordRegister,.checkPasswordRegister{
    background-image:url(../assets/icon_password.png);
    background-repeat: no-repeat;
    background-position: 20px center;
  }
}

