@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D4CDC4;
  font-family: 'Poppins';
}

/* Estilos para celular */

@media(max-width: 480px) {
  .homediv{
    position: absolute;
    top: 10%;
    width: 100%; /*comentario*/
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .imghome{
    position: absolute;
    background-image: url(../assets/image-food.png);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0%;
    left: 20%;
  }

  .buttondiv{
    margin: 250px 10px 0px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /*comentario*/
  }
  
  .buttonemail, .buttongoogle,
  .buttontwitter, .buttongithub{
    border-radius: 10px;
    padding: 12px;
    margin: 8px 0px 0px 0px;
    font-size: 18px;
    border-style: none;
    font-family: 'Poppins';
  }

  .buttonemail:hover, .buttongoogle:hover,
  .buttontwitter:hover, .buttongithub:hover{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .buttonemail{
  background-color: #F2B872;
  }

  .iconemail{
    position: absolute;
    top: 8%;
    left: 8%;
    background-image: url(../assets/icon_email.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .icongoogle{
    position: absolute;
    top: 32%;
    left: 8%;
    background-image: url(../assets/icon_google.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .icontwitter{
    position: absolute;
    top: 58%;
    left: 8%;
    background-image: url(../assets/icon_twitter.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .icongithub{
    position: absolute;
    top: 82%;
    left: 8%;
    background-image: url(../assets/icon_github.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .messagehome{
    position: absolute;
    top: 40%;
    left: 6%;
    font-size: 25px;
  }

  .mensajeregister{
    width: 200px;
    margin: 10px auto 10px;
    text-align:center;
  }

  /* Login*/

  .loginDiv{
    position: relative;
    top: 20px;
    width: 100vw;
    height: 100vh;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .imgLogin {
    position: absolute;
    background-image: url(../assets/image-food.png);
    width: 200px;
    height: 200px;
    top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .messageLogin {
    position: absolute;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    top: 270px;
  }

  .credencialesdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    align-items: center;
    top: 320px;
    width: 100%;
  }

  .loginCorreo, .loginContra {
    margin: 8px 8px 0px 8px;
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    width: 90%;
    font-family: 'Poppins';
    border-style: none;

  }

  .buttonReturn {
    position: absolute;
    margin: 8px 8px 0px 8px;
    border-radius: 10px;
    font-size: 18px;
    flex-direction: column;
    top: 450px;
    padding: 12px;
    width: 90%;
    background: #F2B872;
    align-items: center;
    font-family: 'Poppins';
    border-style: none;
  }
  .mensajeregister {
    position: absolute;
    flex-direction: column;
    width: 200px;
    margin: 10px auto 10px;
    top:550px;
  }

}

