@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #D4CDC4;
  font-family: 'Poppins';
}

/* Estilos para celular */

@media(max-width: 480px) {

  header{
    background-color: #F2B872;
    display: flex;
    justify-content: center;
    height: 80px;
  }
  .icon_exit{
    position: absolute;
    background-image: url(../assets/exit-regular-60.png);
    cursor: pointer;
    top: 20px;
    right: 0;
    margin-right: 20px;
    width: 35px;
    height: 35px;
    background-size: cover;
  }

  .img_food{
    position: absolute;
    background-image: url(../assets/match_icon.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    left: 0;
  }

  .create-post{
    display: flex;
    position: relative;
    align-items: center;
    background-color: white;
    margin: 20px;
    width: 350px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
  }

  .open-popup{
    text-align: center;
    border: 0;
    padding: 10px;
    background: none;
    width: 300px;
    height: 50px;
    font-family: 'Poppins';
    background-color: white;
  }

  .pop-up{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 28px rgb(0, 0, 0, 0.12);
  }

  .post h2{
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid black;
  }

  .post form{
    margin: 35px 30px;
  }

  .post form :where(.content-post, .detail-post .privacy){
    display: flex;
    align-items: center;
  }

  .post form .content-post img{
    max-width: 52px;
  }

  .post form .content-post .detail-post{
    margin: -3px 0 0 12px;
  }

  form .content-post .detail-post p{
    font-size: 17px;
    font-weight: 500;
  }

  form .content-post .detail-post .privacy{
    max-width: 120px;
    cursor: pointer;
    font-size: 11px;
    margin-top: 3px;
    padding: 0 10px;
    border-radius: 5px;
    background: #e4e6eb;
    justify-content: space-between; /* buscar otra forma de separar*/
  }

  .detail-post .privacy span{
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
  }

  .detail-post .privacy i:last-child{
    font-size: 13px;
    margin-left: 1px;
  }

  .post form :where(textarea, button){
    width: 100%;
    outline: none;
    /*border: none;*/
  }

  .post form textarea{
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
  }

  form button{
    border: none;
    height: 40px;
    cursor: no-drop;
    font-size: 16px;
    font-weight: 500;
    color: #bcc0c4;
    border-radius: 7px;
    background: #e2e5e9;
  }

  form textarea:valid ~ button{
    color: white;
    cursor: pointer;
    background: #ADD4D9;
  }
}