@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
  --color-rosa:#F2B3CA;
  --color-azul:#ADD4D9;
  --color-marron:#A6796F;
  --color-negro:#0D0D0D;
  --color-naranja:#F2B872;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #D4CDC4;
  font-family: 'Poppins', sans-serif;
}

/* TODO: Header y Navbar */

header{
  background-color: #F2B872;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 28px 12%;
}

main{
  position: relative;
  display: flex;
  justify-content: center;
}

.tasks-container {
  position: absolute;
  top: 100px;
  width: 45%;
}

.logo{
  display: flex;
  align-items: center;
}

.logo i{
  color: var(--color-marron);
  font-size: 28px;
  margin-right: 5px;
}

.logo span{
  font-size: 1.1rem;
  font-weight: 600;
}

.btn-menu i{
  font-size: 20px;
}

header .icon_exit{
  font-size: 20px;
  color: var(--color-marron);
  padding: 7px 15px;
  background: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

header .icon_exit i{
  font-weight: 700;
}

/* TODO: Post */

.create-post{
  display: flex;
  position: relative;
  align-items: center;
  background-color: white;
  margin: 20px;
  height: 80px;
  width: 45%;
  border-radius: 7px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
  cursor: pointer;
}

.open-popup{
  text-align: center;
  border: 0;
  padding: 10px;
  background: none;
  width: 300px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  cursor: pointer;
}

.pop-up{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
  z-index: 999;
}

.post h2{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 5px 0;
}
.post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .form-post{
  position: absolute;
  top: 5%;
  margin: 40px 30px;
  width: 45%;
  height: 350px;
  background-color: var(--color-azul);
  border-radius: 7px;
  z-index: 3;
}

.post .form-post :where(.content-post, .detail-post .privacy){
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
  
}

.post .form-post .content-post img{
  position: relative;
  max-width: 52px;
}

.post .form-post .content-post .detail-post{
  position: relative;
  margin: 3px 0 0 12px;
}

.form-post .content-post .detail-post p{
  position: relative;
  font-size: 17px;
  font-weight: 500;
}

.form-post .content-post .detail-post .privacy{
  position: relative;
  max-width: 120px;
  cursor: pointer;
  font-size: 11px;
  margin-top: 3px;
  padding: 0 10px;
  border-radius: 5px;
  background: #e4e6eb;
  justify-content: space-between; /* buscar otra .form-posta de separar*/
}

.reactions{
  grid-column: 1 / 3;
  grid-row: 3;
}

.reactions span{
  position: relative;
  bottom: 5px;
}

.detail-post .privacy span{
  position: relative;
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}



.detail-post .privacy i:last-child{
  position: relative;
  font-size: 13px;
  margin-left: 1px;
}

.post .form-post textarea{
  position: relative;
  resize: none;
  width: 100%;
  outline: none;
  font-size: 14px;
  margin-top: 10px;
  min-height: 175px;
  padding: 8px 10px;
  text-align: justify;
}

.container-options button{
  background-color: var(--color-azul);
  border: none;
  border-radius: 7px;
  padding: 3px;
  margin: 2px;
  width: 70px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.form-post textarea:valid ~ button{
  position: relative;
  color: black;
  cursor: pointer;
  background: var(--color-azul);
  font-weight: bold;
}

.cerrar-post{
  position: absolute;
  top: 11%;
  right: 28%;
  width: 5%;
  border: none;
  z-index: 999;
  border-radius: 7px;
  background-color: var(--color-azul);
  font-size: 22px;
  cursor: pointer;
}
.container{
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.12);
}

.form-post .publicar-post{
  top: -6px;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 7px;
}

.publicaciones{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px auto 30px;
  grid-gap: 3px;
  background-color: white;
  margin: 20px;
  border-radius: 7px;
  padding: 10px;
  text-align: justify;
  z-index: -3;
  font-size: 14px;
  max-height: max-content;
}

.btn-menu{
  border: none;
  background-color: white;
  right: 0;
  padding: 2px 2px 0px;
  border-color: white;
  position: absolute;   
}

.container-options{
  display: none;
  position: absolute;
  width: 75px;
  height: 60px;
  top: 20px;
  right: 0;
  background-color: white;
  border-radius: 10px;
}

.btn-delete .btn-edit{
  position: absolute;
  align-items: center;
  border: none;
}

.dropdown{
  position: relative;
  grid-column: 1 / 3;
  grid-row: 1;
}

.body-description{
  grid-column: 1 / 3;
  grid-row: 2;
}

.dropdown:hover .container-options{
  display: block;
}

/* like */
.btn-like {
  background-image: url(../assets/icon/heart-regular-24.png);
  background-color: white;
  margin-top: 5px;
  border: none;
  width: 20px;
  height: 20px;
  background-size: contain;
  left: 0;
}

@media(max-width: 480px) {

  .tasks-container {
    position: absolute;
    top: 100px;
    width: 350px;
  }

  .create-post{
    width: fit-content;
  }

  .publicaciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px auto 30px;
    grid-gap: 3px;
    background-color: white;
    margin: 20px;
    border-radius: 7px;
    padding: 10px;
    text-align: justify;
    z-index: -3;
    font-size: 14px;
    max-height: max-content;
  }

  .open-popup{
    text-align: center;
    border: 0;
    padding: 10px;
    background: none;
    width: 300px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
  }

  .pop-up{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 999;
  }

  .post h2{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
  }

  .post .form-post{
    position: relative;
    top: 100px;
    width: 100%;
    margin: 40px 30px;
    height: 350px;
    background-color: var(--color-azul);
    border-radius: 7px;
    z-index: 3;
  }

  .post .form-post :where(.content-post, .detail-post .privacy){
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
    
  }

  .post .form-post .content-post img{
    position: relative;
    max-width: 52px;
  }

  .post .form-post .content-post .detail-post{
    position: relative;
    margin: 3px 0 0 12px;
  }

  .form-post .content-post .detail-post p{
    position: relative;
    font-size: 17px;
    font-weight: 500;
  }

  .form-post .content-post .detail-post .privacy{
    position: relative;
    max-width: 120px;
    cursor: pointer;
    font-size: 11px;
    margin-top: 3px;
    padding: 0 10px;
    border-radius: 5px;
    background: #e4e6eb;
    justify-content: space-between; /* buscar otra .form-posta de separar*/
  }

  .reactions{
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .reactions span{
    position: relative;
    bottom: 5px;
  }

  .detail-post .privacy span{
    position: relative;
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
  }

  .btn-menu i{
    font-size: 20px;
  }

  .detail-post .privacy i:last-child{
    position: relative;
    font-size: 13px;
    margin-left: 1px;
  }

  .post .form-post textarea{
    position: relative;
    resize: none;
    width: 100%;
    outline: none;
    font-size: 14px;
    margin-top: 10px;
    min-height: 175px;
    padding: 8px 10px;
    text-align: justify;
  }

  .container-options button{
    background-color: var(--color-azul);
    border: none;
    border-radius: 7px;
    padding: 3px;
    margin: 2px;
    width: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }

  .form-post textarea:valid ~ button{
    position: relative;
    color: black;
    cursor: pointer;
    background: var(--color-azul);
    font-weight: bold;
  }

  .cerrar-post{
    position: absolute;
    top: 141px;
    right: 30px;
    width: 10%;
    border: none;
    z-index: 999;
    border-radius: 7px;
    background-color: var(--color-azul);
    font-size: 22px;
    cursor: pointer;
  }
  .container{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.12);
  }

  .form-post .publicar-post{
    top: -6px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 7px;
  }

  .btn-menu{
    border: none;
    background-color: white;
    right: 0;
    padding: 2px 2px 0px;
    border-color: white;
    position: absolute;
    z-index: 4;   
  }

  .container-options{
    display: none;
    position: absolute;
    width: 75px;
    height: 60px;
    top: 20px;
    background-color: white;
    border-radius: 10px;
  }

  .btn-delete .btn-edit{
    position: absolute;
    align-items: center;
    border: none;
  }

  .dropdown{
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .body-description{
    grid-column: 1 / 3;
    grid-row: 2;
  }
  
  .dropdown:hover .container-options{
    display: block;
  }

  /* like */
  .btn-like {
    background-image: url(../assets/icon/me-gusta.png);
    background-color: white;
    margin-top: 5px;
    border: none;
    width: 20px;
    height: 20px;
    background-size: contain;
    left: 0;
  }
}