
body {
margin: 0;
padding: 0;
font-family: 'Ubuntu', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    max-width: 100%;
    max-height: 100%;
}

.container{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-around;
align-content: center;
}

.welcome{
 text-align: center;  
}

.text{
width: 90%;
height: 50px;
padding-left: 4%;
border: 2px solid #1C7888;
border-radius: 5px;
margin-block-start: 3%;
margin-block-end: 3%;
}

:placeholder-shown {
    font-size: 17px;
  }

.forget{
    align-self: flex-end;
    margin-top: 0%;
}
#singIn, #singUp{
    width: 95%;
    height: 50%;
    padding:2.2%;
    margin-top: 1.5%;
    border-radius: 8px;
    background-color:#1C7888;
    color:white;
    font-size:17px;
}
.singInG{
    margin-top: 1.5%;
    align-self: center;
}
#google{
    margin-top: 1.7%;
    margin-bottom: 1%;
    width: 95%;
    height: 50%;
    padding: 2.2%;
    border-radius: 8px;
    border-color: #1C7888;
    border-width: 3px;
    color:black;
    font-size: 17px;
}
.email, .password{
    font-size: 18px;
}
.forget, .singInG{
    font-size: 15px;    
}