:root {
    ---FontPrincipal: 'Inter', sans-serif;
    ---colorFondo: rgb(255, 255, 255);
    ---colorRoot: #b3cfdb;
    ---ColorPrinicipal: #6663E1;
    ---ColorSecundario: #2F2BEC;
    ---ColorTerciario: black;
    ---ColorBotones: #5BA0BD;
}

/*--------------GENERAL----------------------*/
body {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(---FontPrincipal);
    width: 100vw;
    height: 100vh;
    background-color: var(---colorRoot);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

h1,
.petregister {
    text-align: center;
    color: var(---ColorPrinicipal);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.logo,
#imagen {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 40px;
    border: var(---ColorTerciario);
    border-width: 0.5px;
    border-style: solid;
}

label {
    font-size: 12px;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    font-family: var(---FontPrincipal);
}

/* Estilos para el botón */
button {
    background-color: var(---ColorBotones);
    color: var(---colorFondo);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

/* Estilos para el botón cuando el cursor está sobre él */
button:hover,
#loginGoogle-b:hover,
#login-b:hover,
#loginTwitter:hover,
#loginMicrosoft:hover {
    background-color: #3e8e41;
}

/*-------------------Página Principal--------------------------------*/


form {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 400px;
    background-color: var(---colorFondo);
    border-style: solid;
    border-width: 0.8px;
    border-radius: 8px;
}

#loginGoogle-b,
#login-b,
#loginTwitter,
#loginMicrosoft,
input {
    border-style: solid;
    border-color: var(---ColorTerciario);
    border-radius: 7px;
    border-width: 0.5px;
    height: 35px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
}

input {
    min-width: 244px;
}

#loginGoogle-b,
#login-b,
#loginTwitter,
#loginMicrosoft {
    background-color: var(---ColorBotones);
    margin-bottom: 0px;
    margin-top: 7px;
    min-width: 250px;
    padding: 10px;
}


.divhome {
    display: inline-flex;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.register-b,
.forgetPass-b {
    background-color: var(---colorFondo);
    border-style: none;
    color: var(---ColorSecundario);
    font-size: 11.5px;
    margin-top: 2px;
    padding: 0;
    width: 50%;
    margin-top: -12px;
}

.register-b {
    text-align: left;
}

.forgetPass-b {
    text-align: right;
}

/*--------------------Página Registro----------------------*/

.register {
    border: var(---ColorTerciario);
    border-style: solid;
    border-width: 0.8px;
    border-radius: 8px;
    background-color: var(---colorFondo);
    padding: 20px;
    display: flex;
    flex-direction: column;

}

/* Estilos para los campos de entrada */
#name,
#lastname,
#password,
#mail,
#mailUser,
#passUser,
#password1 {
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}


/*-------------------Página Muro--------------------------------*/

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #2f0a0a;
    background-color: var(---colorFondo);
}

a,
a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.postcard a {
    color: inherit;
}

.postcard h1,
.postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.postcard .postcard__title {
    font-size: 1.75rem;
}

.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

.postcard:hover .postcard__bar {
    width: 100px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
    }

    .postcard .postcard__title {
        font-size: 2rem;
    }

    .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }

    .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }

    .postcard .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: var(---ColorTerciario);
        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }

    .postcard:nth-child(2n+1) {
        flex-direction: row;
    }

    .postcard:nth-child(2n+0) {
        flex-direction: row-reverse;
    }

    .postcard:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }

    .postcard:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }
}

/* COLORS */

.blue .postcard__title:hover {
    color: #0076bd;
}

.blue .postcard__bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}