* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width:500px) {
    body {
        background-color: white;
    }

    .containerSection,
    .containerLogin {
        width: 100%;
        height: 80vh;
        margin: auto;
    }

    .divContainerPhrase {
        display: none;
    }

    .containerRight,
    .divRight {
        width: 100%;
        height: 90%;
        font-family: 'Roboto Flex', sans-serif;
        margin: auto;


    }

    .imgSeniorFace,
    .imgLogin {
        display: none;
    }


    .divTitleLogo,
    .divSocialNetword {
        width: 100%;
        height: 150px;
        background-color: rgb(250, 188, 89);
        text-align: center;
        padding: 40px;
        font-size: 2em;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 2.8em;
        font-weight: 700;
        color: rgb(39, 37, 33);
        box-shadow: 10px 0px 20px 0px rgb(196, 195, 194);

    }



    .divLogoRegister,
    .divLogo {
        width: 100px;
        height: 100px;
        background-color: rgb(27, 24, 19);
        border-radius: 50px;
        border: 5px solid rgb(243, 238, 238);
        margin: auto;
        margin-top: -50px;


    }


    .divLogoRegister img,
    .divLogo img {
        width: 80px;
        height: 80px;
        filter: invert(.6);
        margin: 5px;
        margin-top: 2px;

    }

    .formRegister,
    .formLogin {
        width: 80%;
        height: 95%;
        list-style: none;
        margin: auto;
        margin-top: 5%;


    }

    .divTitleRegister,
    .divTitleLogin {
        width: 180px;
        font-size: 2.2em;
        font-weight: 500;
        color: rgb(101, 101, 100);
        margin: auto;

    }

    .divTitleLogin {
        width: 250px;
        margin: auto;

    }

    .listInput,
    .listButtonRegister,
    .listButtonRegisterGoogle,
    .lineDivide,
    .listButtonLogin,
    .listButtonLoginGoogle,
    .listButtonToRegister {
        width: 280px;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .listButtonToRegister {
        margin-top: 23%;

    }


    .listInput input {
        width: 280px;
        height: 60px;
        border-radius: 10px;
        border: .5px solid rgb(227, 226, 226);
        box-shadow: 0px 0px 10px 0px rgb(231, 230, 230);
        color: rgb(93, 92, 92);
        font-size: 1.2em;
        padding: 0px 20px 0px 20px;
        margin-top: 10px;
        margin-bottom: 5px;

    }

    .listInput small {
        font-size: 1em;
        color: rgb(193, 36, 36);
        font-weight: 900;
    }

    .listInput label {
        font-weight: 700;
        color: rgb(80, 79, 79);
    }

    .listInput ::placeholder {
        color: rgb(189, 176, 176);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 1em;
    }

    .listInput input:focus {
        border: 2px solid #e39f216f;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
    }

    .listInput.error input {
        border: 2px solid rgba(188, 52, 52, 0.856);
        box-shadow: 0px 0px 10px rgba(210, 118, 118, 0.4);
    }

    .listInput.error2 input {
        border: 2px solid rgba(188, 52, 52, 0.856);
        box-shadow: 0px 0px 10px rgba(210, 118, 118, 0.4);
    }

    .listInput.success input {
        border: 2px solid rgb(115, 215, 27);
        box-shadow: 0px 0px 10px rgba(160, 228, 58, 0.4);

    }


    .buttonRegister,
    .buttonLogin,
    .buttonToRegister {

        width: 280px;
        height: 60px;
        background-color: rgb(250, 188, 89);
        border-radius: 10px;
        border: 0px transparent;
        font-size: 1.1em;
        box-shadow: 0px 0px 10px 1px rgb(112, 91, 38);
        color: rgb(63, 63, 62);
        z-index: 20;
        font-weight: 600;
        margin: auto;
    }



    .buttonRegisterGoogle,
    .buttonLoginGoogle,
    .buttonToRegister {
        width: 280px;
        height: 60px;
        background: rgb(254, 244, 218);
        box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
        font-size: 1.1em;
        border: 1px solid rgb(230, 200, 130);
        color: rgb(79, 79, 79);
        position: absolute;
        z-index: 20;
        border-radius: 10px;
        text-align: end;
        font-weight: 600;
        padding-right: 20px;

    }

    .buttonToRegister {
        background-color: rgb(250, 249, 248);

        padding-right: 0px;
        margin: auto;
        text-align: center;
    }

    .buttonRegisterGoogle img,
    .buttonLoginGoogle img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 20px;
        top: 8px;

    }

    .formRegister button:hover {
        background-color: rgb(224, 139, 69);
        color: rgb(237, 231, 224);
        box-shadow: 0px 0px 20px 1px rgb(112, 91, 38);
        transition: 1s;
    }


    .lineDivide {
        width: 250px;
        height: 20px;
        position: relative;
    }

    .lineDivide::after,
    .lineDivide::before {
        content: '';
        position: absolute;
        margin: auto;
        height: 1px;
        background: rgb(217, 215, 215);
        width: 45%;
        top: 45%;
    }

    .lineDivide::after {
        left: 0px;
    }

    .lineDivide::before {
        right: 0px;
    }

    .circle {
        width: 15px;
        height: 15px;
        border: 1px solid rgb(172, 170, 170);
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        border-radius: 50%;

    }

    .formRegister button:hover {
        background-color: rgb(42, 31, 23);
        color: rgb(237, 231, 224);
        box-shadow: 0px 0px 20px 1px rgb(39, 39, 37);
        transition: .5s;


    }

    .emailInvalid {
        width: 250px;
        margin: auto;
        margin-left: 40px;
        margin-top: 70px;
        position: absolute;
        z-index: 10;
        text-align: center;
        color: rgb(205, 49, 49);
        font-weight: 600;


    }


    /*Estilos para ruta Home*/

    main {
        width: 100%;
        height: 100%;

    }

    nav {
        width: 100%;
        padding: 20px;
        background-color: rgb(249, 200, 74);
        font-family: 'Roboto Flex', sans-serif;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .divUserName {
        width: 60px;
        height: 60px;
        background-color: rgb(27, 24, 19);
        border-radius: 50px;
        border: 3px solid rgb(243, 238, 238);
    }

    .titleHome {
        width: 200px;
        height: 60px;
        padding: 15px;
    }

    .sectionToPost {
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 10%;


    }

    .formToPost {
        width: 100%;

        min-height: 50px;
        background-color: rgb(217, 215, 215);
        border: 1px solid rgb(80, 79, 79);
        border-radius: 10px;
        padding: 10px;
        margin: auto;
        position: relative;
        font-size: .8em;


    }

    .inputToPost {
        background-color: rgb(80 79 79 / 0%);
        width: 100%;
        min-height: 70px;
        border: 1px solid blue;
        border-color: rgb(229 229 229 / 0%);
        margin: auto;
        padding: 10px;
        outline: 1px solid red;


        resize: none;
        font-size: 1.5em;

    }

    .buttonToPost {
        background: rgb(248 190 40 / 98%);
        box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
        font-size: 12px;
        border: 1px solid rgb(193 184 163);
        color: rgb(79, 79, 79);
        position: absolute;
        left: 20px;
        bottom: -20px;
        border-radius: 4px;
        font-weight: 600;
        padding: 9px;
    }


    .sectionPost {
        width: 100%;
        height: 100%;
        background-color: rgb(237, 231, 224);
        padding: 12%;

    }

    /*.articleUser {
      
        background-color: #fff;
        border: 2px solid rgb(27, 24, 19);
        border-color: rgb(172, 170, 170);
        border-radius: 10px;
        outline: 1px solid rgb(245, 46, 46) ;
    }*/

    .articlePost {
        background-color: rgb(217, 215, 215);
        border: 1px solid #ccc;
        border-color: rgb(80, 79, 79);
        width: 100%;
        min-height: 120px;
        height: 20px;
        border-radius: 10px;
        padding: 12px;
        margin: 30px auto 30px auto;
        outline: 1px solid blue;
        word-wrap: break-word;

    }

    .articlePost .textPost {
        width: 100%;
        min-height: 100px;
        outline: 2px solid red;

    }

    .buttonEmoticonDelete {
        width: 100px;
        height: 50px;
        background-image: url("./img/emoticonEdit.png");
        background-size: cover;
    }



}

@media (min-width:500px) {
    body {
        /* background-image: linear-gradient(rgb(22, 15, 10),rgba(41, 29, 19, 0.795)), url(./img/patron9.png);*/
        background-image: url(./img/patron9.png);
        background-size: 1200px 1000px;
        background-color: rgb(12, 10, 8);


    }

    .containerSection,
    .containerLogin {
        width: 1200px;
        height: 850px;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        border-radius: 20px 0px 20px 0px;
        margin-top: 50px;
        box-shadow: 0px 0px 10px 0px rgb(109, 108, 108);
    }

    .containerLeft,
    .containerRight,
    .divRight,
    .divLeft {
        width: 600px;
        height: 850px;

    }

    .containerLeft,
    .divLeft {
        border-radius: 20px 0px 0px 0px;
        font-family: 'Amatic SC', cursive;
        background-color: rgb(245, 203, 89);
        text-align: center;
        padding: 100px 0px 100px 0px;
        font-family: 'Amatic SC', cursive;
        position: relative;
    }

    .containerLeft img {
        width: 400px;


    }



    .containerRight,
    .divRight {
        border-radius: 0px 0px 20px 0px;
        background-color: rgb(255, 255, 255);
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        position: relative;


    }

    .formRegister,
    .formLogin {
        width: 400px;
        height: 700px;
        margin: auto;
        list-style: none;
        margin-top: 70px;

    }

    .divTitleRegister,
    .divTitleLogin {
        width: 220px;
        margin: auto;
        font-size: 3em;
        color: rgb(67, 60, 50);
        margin-bottom: 100px;

    }

    .divTitleLogin {
        width: 350px;
    }

    .listInput {
        width: 380px;
        height: 130px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .listButtonRegister,
    .listButtonRegisterGoogle,
    .lineDivide,
    .listButtonLogin,
    .listButtonLoginGoogle,
    .listButtonToRegister {
        width: 380px;
        height: 65px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .listInput input {
        width: 380px;
        height: 60px;
        margin: auto;
        border-radius: 10px;
        border: 1px solid rgb(248, 248, 248);
        box-shadow: 0px 0px 5px 0px rgb(194, 194, 194);
        padding: 0px 20px 0px 20px;
        background-color: rgba(255, 255, 255, 0.709);
        margin-top: 10px;
        font-size: 1.3em;
        color: rgb(91, 88, 88);
        margin-bottom: 3px;
    }

    .listInput small {
        font-size: 1.2em;
        color: rgb(193, 36, 36);
        font-weight: 900;
    }

    .listInput ::placeholder {
        color: rgb(189, 176, 176);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 1em;
    }

    .listInput input:focus {
        border: 3px solid #e39f216f;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
    }

    .listInput.error input {
        border: 3px solid rgba(188, 52, 52, 0.856);
        box-shadow: 0px 0px 10px rgba(210, 118, 118, 0.4);

    }

    .listInput.error2 input {
        border: 3px solid rgba(188, 52, 52, 0.856);
        box-shadow: 0px 0px 10px rgba(210, 118, 118, 0.4);
        font-size: 1.2em;
        color: rgb(193, 36, 36);
        font-weight: 900;
    }

    .listInput.success input {
        border: 2px solid rgb(115, 215, 27);
        box-shadow: 0px 0px 10px rgba(160, 228, 58, 0.4);

    }

    .listInput label {
        font-size: 1.3em;
        font-weight: 700;
        color: rgb(80, 79, 79);
    }

    .buttonRegister,
    .buttonLogin {
        width: 380px;
        height: 65px;
        background-color: rgb(250, 188, 89);
        border-radius: 10px;
        border: 0px transparent;
        font-size: 1.5em;
        box-shadow: 0px 0px 10px 1px rgb(112, 91, 38);
        color: rgb(63, 63, 62);
        z-index: 20;
        font-weight: 600;

    }



    .buttonRegisterGoogle,
    .buttonLoginGoogle,
    .buttonToRegister {
        width: 380px;
        height: 65px;
        background: rgb(254, 244, 218);
        box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
        font-size: 1.5em;
        border: 1px solid rgb(230, 200, 130);
        color: rgb(79, 79, 79);
        position: absolute;
        z-index: 20;
        border-radius: 10px;
        text-align: end;
        font-weight: 600;
        padding-right: 30px;
    }

    .buttonLoginGoogle {
        padding-right: 80px;
    }

    .buttonToRegister {
        text-align: center;
        padding-right: 0px;
        background-color: rgb(250, 249, 248);

    }

    .buttonRegisterGoogle img,
    .buttonLoginGoogle img {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 20px;
        top: 8px;

    }

    .formRegister button:hover {
        background-color: rgb(224, 139, 69);
        color: rgb(0, 0, 0);
        box-shadow: 0px 0px 20px 1px rgb(112, 91, 38);
        transition: 1s;
    }

    .containerLineDivide {


        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .lineDivide {
        width: 380px;
        height: 20px;
        position: relative;
    }

    .lineDivide::after,
    .lineDivide::before {
        content: '';
        position: absolute;
        margin: auto;
        height: 1px;
        background: rgb(217, 215, 215);
        width: 45%;
        top: 45%;
    }

    .lineDivide::after {
        left: 0px;
    }

    .lineDivide::before {
        right: 0px;
    }

    .circle {
        width: 15px;
        height: 15px;
        border: 1px solid rgb(172, 170, 170);
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        border-radius: 50%;

    }



    .divContainerPhrase {
        margin: auto;
        width: 500px;
        height: 200px;


    }

    .contentPhrase {
        font-size: 3.5em;
        font-weight: 500;
    }

    .divTitleLogo .divLogo {
        width: 600px;
        height: 180px;
        position: absolute;
        background-color: rgba(246, 210, 101, 0.862);
        text-align: left;
        z-index: 10;

    }

    .divTitleLogo span,
    .divSocialNetword span {
        font-family: 'Cabin Condensed', sans-serif;
        font-size: 5em;
        color: rgb(82, 68, 46);
        text-shadow: 0px 3px 5px rgba(63, 63, 63, 0.953);

    }


    .divLogoRegister,
    .divLogo {
        width: 80px;
        height: 80px;
        background-color: rgb(39, 35, 35);
        border-radius: 50px;
        border: 4px solid rgb(244, 174, 94);
        margin: auto;
        position: absolute;
        right: 265px;
        top: 140px;


    }

    .divLogoRegister img,
    .divLogo img {
        width: 60px;
        height: 60px;
        filter: invert(.6);
        margin: 6px;

    }


    .emailInvalid {
        width: 300px;
        margin: auto;
        text-align: center;
        color: rgb(205, 49, 49);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.1em;
    }


    .divLeft {
        padding: 0px;
    }

    .imgLogin img {
        width: 600px;
        height: 750px;
        border-radius: 20px 0px 0px 0px;


    }

    .bodyHome {
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: 100%;
    }

    .navHome {
        width: 100%;
        height: 120px;
        background-color: rgb(219, 91, 16);
      
        display: flex;
        justify-content:space-between;
      
    }

    .navHome h1 {
        
        display: inline-block;    
        font-size: 2.5em ;   
        margin: 30px;
    }
    .divUserName{
        background-color: aqua;
        width: 80px;
        height:80px;
        border-radius: 40px;
        margin: 20px;
   
    }


    .mainHome {
        background-color: aquamarine;
        width:100% ;
        height: 100%;
        display: flex;
   
        justify-content:space-between;
      

    }

    .sectionToPost,
    .sectionPost {

        width: 50%;
        height: 100%;
        outline: 2px solid coral;
        padding: 10px;  
        margin: 20px;      
    }
    .sectionToPost{
        margin-right: 0px;
        height: 500px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
  
    }
    .sectionPost{
        overflow:scroll;
        height:880px;
    }


    .articlePost{
        background-color: rgb(219, 188, 188);
        margin: 30px;
        padding: 10px;
        border-radius: 5px;
        word-wrap: break-word;
    }

}


    /* Estilos para laptops */


    /*@media (max-width: 768px) {

    nav {
        background-color: #f0890b;
        color: #fff;
        padding: 20px;
    }

    .sectionPost {
        background-color: #efdfdf;
        padding: 20px;
        display: inline-block;
        width: 50%;
        float: right;
        height: 50%;
    }

    .sectionToPost {
        background-color: #f2f2f2;
        padding: 20px;
        display: inline-block;
        width: 50%;
        float: left;
        height: 611px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    article {
        background-color: #fff;
        padding: 20px;
        display: inline-block;
        width: 30%;
        margin: 0 auto;
        flex: 1;

    }
}*/