*,*::before{
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
}


body {
  color: white;
  font-family: "Montserrat", sans-serif;
  background: rgb(122, 91, 216);
  background: linear-gradient(180deg,
      rgba(122, 91, 216, 1) 1%,
      rgba(154, 131, 192, 1) 89%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body::before {
  margin: 0%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/logosinletras.png);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

  header {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  h1,
  h2 {
    color: white;
    font-family: "Edu NSW ACT Foundation", cursive;
    display: flex;
    justify-content: center;
    font-size: 35px;
  }
  h1{
    font-size: 50px;

}
  #passAndEm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(7, 1, 1, 0.22);
    border-radius: 10px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: -10%;
    padding: 5%;
    
  }

  #register,
  #login {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 10%;
  }

  #email,
  #password,
  #user {
    border-radius: 12px;
    padding: 3%;
    width: 80%;
    margin-left: 10%;
  }

  .cEmail,
  .cPassword,
  .CUser {
    padding: 3%;
  }

  #btn-login,
  #btn-register {
    width: 80%;
    background-color: #655dbb;
    border-radius: 20px;
    color: white;
    padding: 3%;
    margin: 0 auto;
    font-size: medium;
    border-style: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }

  p {
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  a {
    margin: 0 auto;
    margin-bottom: 5%;
    color: white;
  }

  #google-Logo {
    width: 40px;
    padding: 10%;
    background-color: aliceblue;
    border-radius: 50%;
  }

  .container-wall {
    background-color: white;
    line-height: 2;
  }

  #iPost {
    padding: 10%;
    width: 70%;
    height: 30%;
    border-radius: 20px;
    background-color: rgba(172, 167, 167, 0.536);
    margin-left: 5%;
  }

  #btn-post {
    width: 30%;
    background-color: #655dbb;
    border-radius: 20px;
    color: white;
    padding: 1%;
    margin: 0 auto;
    font-size: small;
    margin-left: 65%;
  }

  #wall {
    background-color: white;
    width: 100%;
  }

  .google-btn {
    margin: 10px auto;
    width: 184px;
    height: 42px;
    background-color: #fcfdfd;
    border-radius: 30px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;

  }

  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: black;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }

  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }

  .google-btn :active {
    background: #1669f2;
  }

  #linkRegister {
    margin: 0 auto;
    border-radius: 30px;
    padding: 3%;
    width: 184px;
    height: 40px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:500);